@model List<NatzHarmonyCapstone.Models.Messages>

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Messages</h4>
    <hr />
    <table class="table">
        @foreach (var item in Model)
        {
            <tbody>
                <tr>
                    <td>
                        <img src="~/images/@item.Sender.AvatarUrl" style="max-height: 75px; max-width: 75px;" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sender.FirstName) @Html.DisplayFor(modelItem => item.Sender.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Content)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TimeStamp)
                    </td>
                </tr>
            </tbody>
        }
    </table>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
